<!DOCTYPE>
<html ng-app="chartApp">
<head>
	<title>Task Verizon</title>
	<script src="js/angular.min.js"></script>
	<script src="scripts/myApp.js"></script>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.css"/>
	<link type="text/css" rel="stylesheet" href="css/style.css"/>
	<link type="text/css" rel="stylesheet" href="css/font-awesome.min.css"/>
</head>
<body>
<!--Navigation Bar starts here -->
<div class="container-fluid">
	<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
	  	<a class="navbar-brand" href="index.html">
	  		<span class="logo">
	  			<strong>Verizon Tasks</strong>
	  		</span>
	  	</a>
	</div>
	</nav>
</div>
<!--Navigation bar ends here -->

<!-- Page content starts here -->
<div class="container-fluid">
<!-- side Menu - Start -->
	<div class="col-lg-2">
	<!-- Static Menu - Start -->
	<div>
		<h4>Static Menu</h4>
		<ul class="nav" ng-controller="StaticMenuController as smnu">
			<li><a href="#" ng-click="smnu.showMe=0">Menu1</a></li>
			<li><a href="#" ng-click="smnu.showMe=!smnu.showMe">Menu2</a>
				<ul class="nav sub-menu" ng-show="smnu.showMe">
					<li><a href="#">SubMenu1-1</a></li>
					<li><a href="#">SubMenu1-2</a></li>
					<li><a href="#">SubMenu1-3</a></li>
				</ul>
			</li>
			<li ng-click="smnu.showMe=0" ><a href="#">Menu3</a></li>
		</ul>
	</div>
	<!-- Static Menu ends -->

	<!-- Dynamic Menu Starts -->
	<div>
		<h4>Dynamic Menu</h4>
		<ul class="nav" ng-controller="MenuController">
			<li ng-repeat="nodes in menuData">
				<a href="{{nodes.link}}" ng-click="setCurrent(nodes.id)" >{{nodes.title}}</a>
				<div ng-if="nodes.hasChildren">
					<ul class="nav sub-menu" ng-show="showMe=isCurrent(nodes.id)">
						<li ng-repeat="sub in nodes.menuChild">
							<a ng-click="setCurrent(nodes.id)" href="{{sub.link}}">{{sub.title}}</a>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
	<!-- Dynamic Menu Ends -->
	</div>	
<!-- side Menu - End -->

<!-- Content part - Starts -->
<div class="col-lg-10">
<!--Search functionality starts -->
	<div class="row" ng-controller="SearchController">
		<h4>Dynamic Dashboard Controlled by JSON Data </h4>
		<input type="text" ng-model="txt" placeholder="search here ..."/>
		<hr/>
		<div class="col-md-2" ng-repeat="tile in searchTiles | filter:txt">
			<div class="info-box text-white" style="background-color:{{tile.color}}">
				<div class="info-details">
					<h4>{{tile.title}}</h4>
				</div>
			</div>
		</div>
	</div>
<!-- Search functionality ends -->
<!-- Tiles part - Starts -->
	<div ng-controller="TilesController">
		<div class="row">
		<div class="col-lg-3 col-md-6" ng-repeat="tile in tilesData" >
			<div class="panel panel-{{tile.color}}">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa {{tile.icon}} fa-5x"></i>
						</div>
						<div class="col-xs-9 text-right">
							<div><strong>{{tile.title}}</strong></div>
							<div>{{tile.subhead}}</div>
							<div>{{tile.value}}</div>
							<div><em>{{tile.value2}}</em></div>
						</div>
					</div>
				</div>
				<a href="#" ng-click="setTab(tile.id)">
					<div class="panel-footer">
						<span class="pull-left">View Details</span>
						<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
        </div>
        </div>        
        <hr>
        <!-- Chart part - Starts -->         	
        <div class="row">
        	<div class="col-lg-10">
        		<div ng-if="isSet(1)" ng-controller="SalesController">
				<div id="container">Placeholder for Line Chart</div>                
				<div id="container2">Placeholder for Pie Chart</div>
				<div id="container1">Placeholder for Column Chart</div>
			</div>
        	</div>
        	<div class="col-lg-10">
        		<div ng-if="isSet(2)" ng-controller="MarketingController">
                <div id="container3">Placeholder for Line Chart</div>                
                <div id="container5">Placeholder for Pie Chart</div>
                <div id="container4">Placeholder for Column Chart</div>
        	</div> 
        </div>
        <!-- Chart part - Ends-->
    </div>
 <!-- Tiles part - Ends -->
</div>
<!-- Content part - Ends-->
</div>
<!-- Page contents ends here-->
  <script src="js/jquery-1.12.3.min.js"></script>
  <script src="js/highcharts.js"></script>
</body>
</html>

